*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: 612px;
    background-color: white;
    background: url(puntitos.png);
}

.contenedor-logo-menu{
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    display: flex;
    
}


.contenedor-logo-menu-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.logo-gonzalo-1{
    width: 70px;
    height: 70px;
}

@media(min-width:668px){
    .burger{
        display: none;
    }
}

.contenedor-menu-letras-imagen{
    display: none;
}

@media(min-width:668px){
    .contenedor-menu-letras-imagen{
        width: 100%;
        height: 70px;
        flex-direction:row-reverse;
        justify-content: space-between;
        }
}

.menu-letras{
    display: none;
}
.subcontenedor-menu-letras{
    display: none;
}
@media(min-width:668px){
    .menu-letras{
        font-family: "Roboto";
        display: inline;
        font-weight: bold;
        font-size: 24px
    }
    
    .subcontenedor-menu-letras{
        width: 400px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        padding-top: 14px;
    }

}



.contenedor-titulo{
    display: flex;
    align-items: center;
}

.contenedor-titulo-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width:668px){
.contenedor-titulo-imagen{
    flex-direction:row;
}
}

.contenedor-titulo{
    width: 291px;
    height: 96px;
    margin-top: 20px;
}

.contenedor-imagen{
    width: 318px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.titulo{
    font-family: "Open Sans";
    font-size: 48px;
    text-align: center;
}

.barritas-menu{
    width: 36px;
    height: 6px;
    background-color: black;
    margin-right: 200px;
}

@media (min-width:668px){
    .barritas-menu{
        display: none;
    }
}



.section-1{
    width: 100%;
    height: 538px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
@media(min-width:668px){
    .section-1{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 15% 15%;
    }
}

.contenedor-palabras-section-1{
    display: flex;
    margin: 0 auto;
    width: 363px;
    height: 350px;
    flex-direction: column;
}


.titulo-section-1{
    font-family: "Open Sans";
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 55px;
    font-size: 32px;
    
}

.contenedor-parrafo{
    width: 312px;
    height: 193px;
    margin: 0px auto;
    text-align: center; 
    margin-bottom: 205px;
}

.parrafo{
    font-family: "Roboto";
    color: white;
    padding: 20px;
    margin-top: 35px;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
}

.contenedor-nota-musical{
    display: flex;
    margin: 0 auto;
    
}

.nota-musical{
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
@media(min-width:668px){
    .nota-musical{
        width: 211px;
        height: 211px;
        }
}




.section-2{
    width: 100%;
    height: 1375px;
    background-color: white;
}
@media(min-width:668px){
    .section-2{
        height: 604px;
    }
}


.contenedor-titulo-mis-servicios{
    width: 271px;
    height: 56px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-top: 70px;
    justify-content: center;
    
}

.titulo-mis-servicios{
    font-family: "Open Sans";
    font-size: 32px;
    color: black;
    text-align: center;
    
}

.contenedor-full-servicios{
    display: flex;
    flex-direction: column;
    width: 100%;

}
@media(min-width:668px){
    .contenedor-full-servicios{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px auto;
    }
}

.contenedor-servicio{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    margin-top: 56px;
}
@media(min-width:668px){
    .contenedor-servicio{
        width: 100%;
    }
}



.contenedor-imagen-servicio{
    display: flex;
    align-items: center;
}

.emoji-musica{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.contenedor-titulo-servicio{
    width: 271px;
    height: 85px;
    margin: 0px auto;
    margin-top: 19px;
}

.titulo-sobre-mi{
    font-family: "Roboto";
    font-size: 24px;
    color: black;
    text-align: center;
    
}

.contenedor-parrafo-servicio{
    width: 262px;
    height: 117px;
    margin: 0px auto;
    margin-top: 15px;
}
@media(min-width:668px){
    .contenedor-parrafo-sobre-mi{
    margin: 140px auto;
    }
}

.parrafo-sobre-mi{
    font-family: "Roboto";
    font-size: 16px;
    color: black;
    text-align: center;
}



.imagen-bonete{
    width: 100px;
    height: 100px;
    margin: 0px auto;
}



.titulo-conocimientos{
    font-family: "Roboto";
    font-size: 24px;
    color: black;
    text-align: center;
}


.parrafo-mis-conocimientos{
    font-family: "Roboto";
    font-size: 16px;
    color: black;
    text-align: center;
}



.imagen-joystick{
    width: 100px;
    height: 100px;
    margin: 0px auto;
}



.titulo-mis-pasatiempos{
    font-family: "Roboto";
    font-size: 24px;
    color: black;
    text-align: center;
    width: 100%;
}
@media(min-width:668px){
    .titulo-mis-pasatiempos{
        width: 100%;
    }
}


.parrafo-mis-pasatiempos{
    font-family: "Roboto";
    font-size: 16px;
    color: black;
    text-align: center; 
}

.section-3{
    width: 100%;
    height: 660px;
    background-color: black;
    
}

@media(min-width:668px){
    .contenedor-form{
        display: flex;
        width: 800px;
        margin: 0px auto;
    }
}

.contenedor-titulo-escribeme{
    display: flex;
    flex-direction: column;
}
@media(min-width:668px){
    .contenedor-titulo-escribeme{
    }
}

.titulo-escribeme{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    margin-top: 70px;
    font-family: "Open Sans";
}

.form{
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 376px;
    margin: 0 auto;
}



.label{
    display: block;
    font-size: 13px;
    color: white;
    margin-bottom: 9px;
    margin-top: 25px;
    font-family: "Roboto";
}

.textarea {
    min-height: 113px;
}

.input-text, textarea {
    border: 3px solid #2c2c2c;
    border-radius: 4px;
    font-size: 13px;
    display: block;
    width: 100%;
    padding: 10px;
}

.buttom{
    background-color: yellow;
    width: 335px;
    height: 45px;
    font-family: 'Open Sans';
}

.contenedor-buttom{
    margin: 60px auto;
    width: 335px;
    height: 45px;
    display: flex;
    align-items: center;
}




.section-4{
    width: 100%;
    height: 493px;
    background-color: #DBDBDB;
    background: url(puntitos.png);
}
@media(min-width:668px){
    .section-4{
        height: 346px;
        display: flex;
        justify-content: center;
    }
}



.logo-gonzalo{
   width: 200px;
   height: 200px;
   padding-top: 0px;
}

.contenedor-redes{
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 3fr;
  gap: 30px;
  padding-left: 15px;
}

@media(min-width:668px){
    .contenedor-imagen-section-4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0px 10%
        
    }
}
